{:paths ["resources" "src"]
 :jvm-opts ["--add-opens" "java.base/java.util.concurrent=ALL-UNNAMED"]

 :deps
 {org.clojure/clojure                        {:mvn/version "1.12.5"}
  org.clojure/tools.cli                      {:mvn/version "1.4.256"}

  babashka/fs                                {:mvn/version "0.5.34"}
  com.ibm.icu/icu4j                          {:mvn/version "78.3"}
  org.apache.commons/commons-compress        {:mvn/version "1.28.0"}
  com.github.luben/zstd-jni                  {:mvn/version "1.5.7-11"}
  org.tukaani/xz                             {:mvn/version "1.9"}
  com.cnuernber/charred                      {:mvn/version "1.039"}
  metosin/malli                              {:mvn/version "0.20.1"}
  camel-snake-kebab/camel-snake-kebab        {:mvn/version "0.4.3"}
  babashka/process                           {:mvn/version "0.6.25"}

  org.clojure/data.xml                       {:mvn/version "0.2.0-alpha11"}

  clj-jgit/clj-jgit                          {:mvn/version "1.1.0"
                                              :exclusions [org.eclipse.jgit/org.eclipse.jgit.gpg.bc]}
  org.eclipse.jgit/org.eclipse.jgit          {:mvn/version "7.7.0.202606012155-r"}
  org.eclipse.jgit/org.eclipse.jgit.ssh.apache {:mvn/version "7.7.0.202606012155-r"}

  org.graalvm.js/js-language                 {:mvn/version "24.2.2"}
  org.clojars.jules_gosnell/m3               {:mvn/version "1.0.0-beta3"
                                              :exclusions [org.graalvm.polyglot/js
                                                           org.graalvm.js/js
                                                           org.slf4j/slf4j-simple
                                                           refactor-nrepl/refactor-nrepl
                                                           cider/cider-nrepl]}

  org.arachne-framework/aristotle {:git/url "https://github.com/arachne-framework/aristotle.git"
                                   :git/sha "d7ee879945e0060dc5fcd0b8eac2e0e476d066d7"
                                   :exclusions [org.apache.jena/apache-jena-libs]}

  org.apache.jena/jena-shacl       {:mvn/version "5.3.0"
                                    :exclusions [org.apache.jena/apache-jena-libs]}

  com.taoensso/telemere            {:mvn/version "1.2.1"}
  com.taoensso/telemere-slf4j      {:mvn/version "1.2.1"}

  org.relaxng/jing                 {:mvn/version "20241231"}
  ;; Explicit for the v0 Schematron harness; aligns the runtime XPath engine
  ;; with the ODD artifact generator and current Schematron tooling.
  net.sf.saxon/Saxon-HE            {:mvn/version "12.9"}
  com.helger.schematron/ph-schematron-xslt {:mvn/version "9.2.0"}
  com.helger.schematron/ph-schematron-pure {:mvn/version "9.2.0"}
  org.glassfish.jaxb/jaxb-runtime  {:mvn/version "4.0.6"}

  ;; Linked Art / JSON-LD publication-view harness (ADR 0013). Jena pulls in
  ;; titanium-json-ld 1.4.1 transitively; this explicit pin upgrades it to
  ;; the current 1.7.x line so the LOD harness uses an up-to-date JSON-LD 1.1
  ;; processor. The Jakarta JSON-P 2.x runtime provider already comes in via
  ;; Jena (org.glassfish:jakarta.json:2.0.1).
  com.apicatalog/titanium-json-ld  {:mvn/version "1.7.0"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.3"}
                      orchestra/orchestra    {:mvn/version "2021.01.01-1"}
                      specviz/specviz        {:mvn/version "0.2.4"}}}
  :kaocha {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}
  :metav {:extra-deps {metav/metav {:mvn/version "1.6.7"}}}
  :artifact-name {:extra-deps {metav/metav {:mvn/version "1.6.7"}}
                  :main-opts ["-m" "metav.display"]}
  :release {:extra-deps {metav/metav {:mvn/version "1.6.7"}}
            :main-opts ["-m" "metav.release"]}
  :spit {:extra-deps {metav/metav {:mvn/version "1.6.7"}}
         :main-opts ["-m" "metav.spit"
                     "--output-dir" "src"
                     "--namespace" "metav.meta"
                     "--formats" "clj"]}
  :abc/validate-design-bundle {:main-opts ["-m" "abc.tools.validate-design-bundle"]}
  :abc/soranoha {:main-opts ["-m" "abc.tools.soranoha"]}
  :abc/materialize-import {:main-opts ["-m" "abc.tools.materialize-import"]}
  :abc/materialize-publication {:main-opts ["-m" "abc.tools.materialize-publication"]}
  :abc/materialize-publications-batch {:main-opts ["-m" "abc.tools.materialize-publication"
                                                   "--batch"]}
  :abc/source-snapshot-workset {:main-opts ["-m" "abc.tools.source-snapshot-workset"]}
  :abc/materialize-source-snapshot {:main-opts ["-m" "abc.tools.materialize-source-snapshot"]}
  :abc/manifest-to-rdf {:main-opts ["-m" "abc.tools.manifest-to-rdf"]}
  :abc/aozora-ingest {:main-opts ["-m" "abc.tools.aozora-ingest"]}
  :abc/validate-corpus {:main-opts ["-m" "abc.tools.validate-corpus"]}
  :abc/person-drift-history {:main-opts ["-m" "abc.tools.person-drift-history"]}
  :abc/aozora-history-audit {:main-opts ["-m" "abc.tools.aozora-history-audit"]}
  :abc/aat-compat-admission {:main-opts ["-m" "abc.tools.aat-parser-ir-compat"]}
  :update {:deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
           :main-opts ["-m" "antq.core"]}}}
