{:paths ["resources" "src"]
 :jvm-opts ["--add-opens" "java.base/java.util.concurrent=ALL-UNNAMED"]

 :deps
 {org.clojure/clojure                        {:mvn/version "1.12.4"}
  org.clojure/tools.cli                      {:mvn/version "1.4.256"}

  com.taoensso/timbre                        {:mvn/version "6.8.0"}

  clj-commons/fs                             {:mvn/version "1.6.312"}
  babashka/fs                                {:mvn/version "0.5.33"}
  com.ibm.icu/icu4j                          {:mvn/version "78.3"}
  clj-mecab/clj-mecab                        {:mvn/version "1.0.102"}

  org.apache.commons/commons-compress        {:mvn/version "1.28.0"}
  com.cnuernber/charred                      {:mvn/version "1.038"}
  clojure.java-time/clojure.java-time        {:mvn/version "1.4.3"}
  lambdaisland/regal                         {:mvn/version "0.1.175"}
  org.clojure/core.match                     {:mvn/version "1.1.1"}
  metosin/malli                              {:mvn/version "0.20.1"}
  expound/expound                            {:mvn/version "0.9.0"}
  camel-snake-kebab/camel-snake-kebab        {:mvn/version "0.4.3"}
  parallel/parallel                          {:mvn/version "0.10"}
  net.cgrand/xforms                          {:mvn/version "0.19.6"}
  com.climate/claypoole                      {:mvn/version "1.1.4"}
  babashka/process                           {:mvn/version "0.6.25"}

  org.clojure/data.xml                       {:mvn/version "0.2.0-alpha11"}

  clj-jgit/clj-jgit                          {:mvn/version "1.1.0"
                                              :exclusions [org.eclipse.jgit/org.eclipse.jgit.gpg.bc]}

  uk.org.russet/tawny-owl                    {:mvn/version "2.3.3"
                                              :exclusions [org.slf4j/slf4j-nop]}
  net.sourceforge.owlapi/owlapi-distribution {:mvn/version "5.5.1"
                                              :exclusions [org.slf4j/slf4j-nop]}

  com.xtdb/xtdb-core                         {:mvn/version "1.24.5"}
  com.xtdb/xtdb-rocksdb                      {:mvn/version "1.24.5"}

  org.graalvm.js/js-language                 {:mvn/version "24.2.2"}
  org.clojars.jules_gosnell/m3               {:mvn/version "1.0.0-beta2"
                                              :exclusions [org.graalvm.polyglot/js
                                                           org.graalvm.js/js
                                                           org.slf4j/slf4j-simple
                                                           refactor-nrepl/refactor-nrepl
                                                           cider/cider-nrepl]}

  org.arachne-framework/aristotle {:git/url "https://github.com/arachne-framework/aristotle.git"
                                   :git/sha "d7ee879945e0060dc5fcd0b8eac2e0e476d066d7"
                                   :exclusions [org.apache.jena/apache-jena-libs]}

  org.apache.jena/jena-shacl       {:mvn/version "5.3.0"
                                    :exclusions [org.apache.jena/apache-jena-libs]}

  com.taoensso/telemere            {:mvn/version "1.2.1"}
  com.taoensso/telemere-slf4j      {:mvn/version "1.2.1"}

  org.relaxng/jing                 {:mvn/version "20241231"}
  ;; Explicit for the v0 Schematron harness. This intentionally matches the
  ;; Saxon version already present in deps-lock.json via the OWL stack; upgrade
  ;; to Saxon 12.x in a separate dependency-refresh change.
  net.sf.saxon/Saxon-HE            {:mvn/version "9.6.0-4"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.3"}
                      orchestra/orchestra    {:mvn/version "2021.01.01-1"}
                      specviz/specviz        {:mvn/version "0.2.4"}}}
  :kaocha {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}
  :metav {:extra-deps {metav/metav {:mvn/version "1.6.7"}}}
  :artifact-name {:extra-deps {metav/metav {:mvn/version "1.6.7"}}
                  :main-opts ["-m" "metav.display"]}
  :release {:extra-deps {metav/metav {:mvn/version "1.6.7"}}
            :main-opts ["-m" "metav.release"]}
  :spit {:extra-deps {metav/metav {:mvn/version "1.6.7"}}
         :main-opts ["-m" "metav.spit"
                     "--output-dir" "src"
                     "--namespace" "metav.meta"
                     "--formats" "clj"]}
  :abc/validate-design-bundle {:main-opts ["-m" "abc.tools.validate-design-bundle"]}
  :abc/materialize-import {:main-opts ["-m" "abc.tools.materialize-import"]}
  :abc/manifest-to-rdf {:main-opts ["-m" "abc.tools.manifest-to-rdf"]}
  :abc/aozora-ingest {:main-opts ["-m" "abc.tools.aozora-ingest"]}
  :update {:deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
           :main-opts ["-m" "antq.core"]}}}
