{:schema-version :abc-adr-operational-closure-v1,
 :entrypoint-namespaces [abc.tools.validate-design-bundle],
 :owned-namespace-prefixes [abc],
 :paths
 ["src/abc/tools/aat_parser_ir_compat.clj"
  "src/abc/tools/analysis_identity.clj"
  "src/abc/tools/cli.clj"
  "src/abc/tools/edn_registry.clj"
  "src/abc/tools/evidence_io.clj"
  "src/abc/tools/files.clj"
  "src/abc/tools/hash.clj"
  "src/abc/tools/iiif.clj"
  "src/abc/tools/jcs.clj"
  "src/abc/tools/json.clj"
  "src/abc/tools/linked_art.clj"
  "src/abc/tools/logging.clj"
  "src/abc/tools/malli.clj"
  "src/abc/tools/manifest.clj"
  "src/abc/tools/manifest_index.clj"
  "src/abc/tools/manifest_to_rdf.clj"
  "src/abc/tools/materialize_analysis.clj"
  "src/abc/tools/materialize_annotations.clj"
  "src/abc/tools/materialize_import.clj"
  "src/abc/tools/materialize_publication.clj"
  "src/abc/tools/materialize_tokenized.clj"
  "src/abc/tools/metadata_record.clj"
  "src/abc/tools/parallel.clj"
  "src/abc/tools/parser_evidence.clj"
  "src/abc/tools/parser_ir_plaintext.clj"
  "src/abc/tools/parser_ir_publication_policy.clj"
  "src/abc/tools/parser_ir_publication_whitespace.clj"
  "src/abc/tools/parser_ir_sentence_policy.clj"
  "src/abc/tools/parser_ir_tei.clj" "src/abc/tools/parser_maintenance_evidence.clj"
  "src/abc/tools/path_containment.clj"
  "src/abc/tools/person_drift.clj"
  "src/abc/tools/person_record.clj"
  "src/abc/tools/publication_policy.clj"
  "src/abc/tools/rdf_prefixes.clj"
  "src/abc/tools/schema.clj"
  "src/abc/tools/schematron.clj"
  "src/abc/tools/shacl.clj"
  "src/abc/tools/snapshot_index.clj"
  "src/abc/tools/source_region_contract.clj"
  "src/abc/tools/tei.clj"
  "src/abc/tools/tei_header.clj"
  "src/abc/tools/validate_design_bundle.clj"]}
