{:schema-version :abc-adr-runtime-inputs-v1,
 :paths
 ["abc/examples/v0/example-persons/000879.json"
  "abc/examples/v0/example-work/manifest.json"
  "abc/examples/v0/example-work/metadata-record.json"
  "abc/examples/v0/example-work/metadata-record.ttl"
  "abc/schemas/manifest.shacl.ttl"
  "abc/schemas/metadata-record.schema.json"
  "abc/schemas/person-record.schema.json"]}
