{:entries
 [{:aat_version 2
  :aat_adapter "ab-aozora"
  :aat_adapter_version "ab-aozora 0.4.0 aat-schema 2 facade 0.3.0 wire-schema 3 (git c2b9b396271755bc0b898fdaed17c9c9cbe4666d)"
  :mapping_id "https://w3id.org/abc/mappings/aat-v2-to-parser-ir-v1/generated-probe"
  :mapping_version "0.3.0"
  :mapping_hash "sha256:7249cd727ef2da90dcd591e6009bead9235fe1c140697ee6bd70aacd9e85ee40"
  :mapping_schema_hash "sha256:e6af01115ccdb7c5cad086eee4c458230f6b6f55e0dfee7791730b48994283e2"
  :parser_ir_schema_id "https://w3id.org/abc/schemas/parser-ir.schema.json"
  :parser_ir_schema_hash "sha256:a1e1b5069fdec17cbb1f94eb5e9a582d1b109dd95c07257f4da7d9b76c82cfa2"
  :evidence_scope {:evidence_type :conversion-audit
                   :adapter "ab-aozora"
                   :adapter_version "ab-aozora 0.4.0 aat-schema 2 facade 0.3.0 wire-schema 3 (git c2b9b396271755bc0b898fdaed17c9c9cbe4666d)"
                   :corpus "ab-aozora"
                   :files_scanned 17886
                   :files_succeeded 17886
                   :files_failed 0
                   :parser_ir_nodes 18786883
                   :divergence_records 196375
                   :divergence_occurrences 4908657
                   :rules_total 687
                   :rules_emitted 52
                   :rules_missing 635
                   :unsupported_occurrences 198745}
  :compatibility "lossy"}]}
