{:entries
 [{:aat_version 2
  :aat_adapter "ab-aozora"
  :aat_adapter_version "ab-aozora 0.6.0 aat-schema 2 facade 0.3.0 wire-schema 3 (git 004deaf548f34a36abbc17d0f7a162df010a6292)"
  :mapping_id "https://w3id.org/abc/mappings/aat-v2-to-parser-ir-v1/generated-probe"
  :mapping_version "0.4.0"
  :mapping_hash "sha256:cf177bee98af086fe728cbc1942e4f631b26ed5bb55aedc7d91b21f467c41f30"
  :mapping_schema_hash "sha256:e6af01115ccdb7c5cad086eee4c458230f6b6f55e0dfee7791730b48994283e2"
  :parser_ir_schema_id "https://w3id.org/abc/schemas/parser-ir.schema.json"
  :parser_ir_schema_hash "sha256:a1e1b5069fdec17cbb1f94eb5e9a582d1b109dd95c07257f4da7d9b76c82cfa2"
  :evidence_scope {:evidence_type :conversion-audit
                   :adapter "ab-aozora"
                   :adapter_version "ab-aozora 0.6.0 aat-schema 2 facade 0.3.0 wire-schema 3 (git 004deaf548f34a36abbc17d0f7a162df010a6292)"
                   :corpus "ab-aozora"
                   :files_scanned 17886
                   :files_succeeded 17886
                   :files_failed 0
                   :parser_ir_nodes 18803174
                   :divergence_records 231683
                   :divergence_occurrences 4938800
                   :rules_total 689
                   :rules_emitted 54
                   :rules_missing 635
                   :unsupported_occurrences 195437}
  :compatibility "lossy"}]}
