{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure               {:mvn/version "1.12.5"}
  org.babashka/cli                  {:mvn/version "0.12.75"}
  babashka/fs                       {:mvn/version "0.5.34"}
  babashka/process                  {:mvn/version "0.6.25"}
  com.cnuernber/charred             {:mvn/version "1.041"}
  org.xerial/sqlite-jdbc            {:mvn/version "3.47.1.0"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.967"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :main-opts ["-m" "kaocha.runner"]}

  :soranoha/build
  {:main-opts ["-m" "soranoha.main"]}}}
