{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure               {:mvn/version "1.12.6"}
  org.babashka/cli                  {:mvn/version "0.12.88"}
  babashka/fs                       {:mvn/version "0.5.34"}
  babashka/process                  {:mvn/version "0.6.25"}
  com.cnuernber/charred             {:mvn/version "1.042"}
  org.slf4j/slf4j-nop              {:mvn/version "2.0.19"}
  org.xerial/sqlite-jdbc            {:mvn/version "3.53.4.0"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.1118"}
  org.clojure/data.xml              {:mvn/version "0.2.0-alpha11"}
  com.ibm.icu/icu4j                 {:mvn/version "78.3"}
  org.apache.commons/commons-compress {:mvn/version "1.28.0"}
  org.clojure/tools.cli             {:mvn/version "1.4.256"}
  com.networknt/json-schema-validator {:mvn/version "3.0.7"}
  org.relaxng/jing                  {:mvn/version "20241231"}
  com.helger.schematron/ph-schematron-isosch {:mvn/version "10.0.1"}
  org.glassfish.jaxb/jaxb-runtime   {:mvn/version "4.0.9"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :main-opts ["-m" "kaocha.runner"]}

  :soranoha/build
  {:jvm-opts ["-Xmx4g"]
   :main-opts ["-m" "soranoha.main"]}}}
