{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.5"}
        soranoha/soranoha {:local/root "../../soranoha" :exclusions [org.slf4j/slf4j-nop]}
        org.slf4j/slf4j-api {:mvn/version "2.0.18"}
        net.sf.saxon/Saxon-HE {:mvn/version "12.9"}
        metosin/malli {:mvn/version "0.20.1"}
        com.taoensso/telemere-slf4j {:mvn/version "1.2.1"}
        com.taoensso/telemere {:mvn/version "1.2.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.3"}
                               lambdaisland/kaocha {:mvn/version "1.91.1392"}}}
           :parser-rq-member {:main-opts ["-m" "ab-research.parser-rq-member"]}}}
